.spinner
{
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
 height: 100%;
}
.loading{
    width:50px;
    height:50px;
    border-radius:30px;
    border-top:5px solid #53777A;
    border-bottom:5px solid #C02942;
    box-sizing:border-box;
    position:absolute;
    top:50%;left:50%;
    margin-top:-80px;
    margin-left:-80px;
    animation:loading 1.2s linear infinite;
    -webkit-animation:loading 1.2s linear infinite;
  }
  @keyframes loading{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
  }
  @-webkit-keyframes loading{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
  }